.sidebar-nav li {
    position: relative;
    margin: 0;
    cursor: pointer;
}

:root {
    --sidebar-width: 25rem;
}

.folder::before {
    content: '';
    padding: var(--sidebar-nav-pagelink-padding, var(--sidebar-nav-link-padding));
    background-image: var(--sidebar-nav-pagelink-background-image);
    background-position: var(--sidebar-nav-pagelink-background-position);
    background-repeat: var(--sidebar-nav-pagelink-background-repeat);
}

.folder::before:hover {
    border-width: var(--sidebar-nav-link-border-width--hover, var(--sidebar-nav-link-border-width, 0));
    border-style: var(--sidebar-nav-link-border-style--hover, var(--sidebar-nav-link-border-style));
    border-color: var(--sidebar-nav-link-border-color--hover, var(--sidebar-nav-link-border-color));
    background-color: var(--sidebar-nav-link-background-color--hover, var(--sidebar-nav-link-background-color));
    background-image: var(--sidebar-nav-link-background-image--hover, var(--sidebar-nav-link-background-image));
    background-position: var(--sidebar-nav-link-background-position--hover, var(--sidebar-nav-link-background-position));
    background-size: var(--sidebar-nav-link-background-size--hover, var(--sidebar-nav-link-background-size));
    color: var(--sidebar-nav-link-color--hover, var(--sidebar-nav-link-color));
    font-weight: var(--sidebar-nav-link-font-weight--hover, var(--sidebar-nav-link-font-weight));
    text-decoration: var(--sidebar-nav-link-text-decoration--hover, var(--sidebar-nav-link-text-decoration));
    text-decoration-color: var(--sidebar-nav-link-text-decoration-color);
}

.folder::before.open {
    background-image: var(--sidebar-nav-pagelink-background-image--active, var(--sidebar-nav-pagelink-background-image--loaded, var(--sidebar-nav-pagelink-background-image)));
    background-position: var(--sidebar-nav-pagelink-background-position--active, var(--sidebar-nav-pagelink-background-position--loaded, var(--sidebar-nav-pagelink-background-image)));
}
